html {
  scroll-padding-top: 60px;
}

header {
  width: 100%;
  margin: 0;
  background: rgb(30, 30, 120);
  background: linear-gradient(
    13deg,
    rgba(30, 30, 120, 1) 0%,
    rgba(0, 177, 213, 1) 100%
  );
  color: white;
}

header.admin {
  background: rgb(92, 6, 6);
  background: linear-gradient(
    13deg,
    rgb(121, 0, 67) 0%,
    rgb(169, 55, 214) 100%
  );
}

header.cs {
  background: rgb(6, 85, 10);
  background: linear-gradient(
    13deg,
    rgb(15, 99, 19) 0%,
    rgb(41, 197, 125) 100%
  );
}

#menu-bar {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 8px;
  align-items: center;
  text-transform: capitalize;
}

.menu-bar-button {
  font-weight: 800;
  color: white;
  margin: 0;
  padding: 12px;
  text-align: right;
}

#logo {
  font-size: 48px;
  font-weight: 800;
  margin: 0;
  height: 48px;
  padding: 12px;
  text-transform: uppercase;
  color: white;
  background: url('/static/images/oaxaca_logo.svg') no-repeat;
}

#menu-bar-nav {
  font-size: 20px;
  font-weight: 800;
  margin: 0;
  padding: 0px 12px 8px;
  text-transform: uppercase;
  text-align: center;
  display: flex;
  width: 100%;
}

#menu-bar-nav a {
  padding: 0px 8px;
  flex-grow: 1;
  color: white;
}

#page-title * {
  position: relative;
  padding: 8px 12px;
}

/* 
    Header Styling
*/

.search-bar {
  background: rgb(255, 255, 255);
  display: flex;
  width: 250px;
  padding-left: 100px;
  margin: 10px;
  border-radius: 60px;
  padding: 0.7em;
}

.search-bar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
}

.form-buttons {
  margin: 12px;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-shade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.popup-content {
  display: block;
  background-color: white;
  border-radius: 16px;
  padding: 12px;
  width: 80%;
  height: 80%;
  overflow-y: auto;
  z-index: 3;
}
.popup-small {
  max-width: 480px;
  max-height: 256px;
}

@media screen and (max-width: 854px) {
  .dish-cards-grid {
    grid-template-columns: 1fr;
  }

  .menu-filter-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 480px) {
  section {
    padding: 12px !important;
  }

  .menu-filter-grid {
    grid-template-columns: 1fr 1fr;
  }
}
