{% macro render_input_text(name='', id='', value='', required=False) %}

<div class="mb-3 row align-items-baseline">
  <label class="col-sm-2" for="{{ id }}">{{ name }}</label>
  <div class="col-sm-10">
    <input class="form-control" type="text" name="{{ id }}" id="{{ id }}" value="{{ value }}" {% if required %} required
      {% endif %} />
  </div>
</div>

{% endmacro %}

{% macro render_input_number(name='', id='', value='', required=False) %}

<div class="mb-3 row align-items-baseline">
  <label class="col-sm-2" for="{{ id }}">{{ name }}</label>
  <div class="col-sm-10">
    <input class="form-control" type="number" name="{{ id }}" id="{{ id }}" value="{{ value }}" {% if required %}
      required {% endif %} />
  </div>
</div>

{% endmacro %}

{% macro render_input_date(name='', id='', value='', required=False) %}

<div class="mb-3 row align-items-baseline">
  <label class="col-sm-2" for="{{ id }}">{{ name }}</label>
  <div class="col-sm-10">
    <input class="form-control" type="date" name="{{ id }}" id="{{ id }}" value="{{ value.date() }}" {% if required %}
      required {% endif %} />
  </div>
</div>

{% endmacro %}

{% macro render_input_datetime(name='', id='', value='', required=False) %}

<div class="mb-3 row align-items-baseline">
  <label class="col-sm-2" for="{{ id }}">{{ name }}</label>
  <div class="col-sm-10 d-flex">
    <input class="form-control" type="date" name="{{ id }}" id="{{ id }}" value="{{ value.date() }}" {% if required %}
      required {% endif %} />
    <input class="form-control" type="time" name="{{ id }}_time" id="{{ id }}_time"
      value="{{ value.strftime('%H:%M') }}" {% if required %} required {% endif %} />
  </div>
</div>

{% endmacro %}

{% macro render_input_file(name='', id='', types='*', required=False) %}

<div class="mb-3 row align-items-baseline">
  <label class="col-sm-2" for="{{ id }}">{{ name }}</label>
  <div class="col-sm-10">
    <input class="form-control" type="file" name="{{ id }}" id="{{ id }}" accept="{{ types }}" {% if required %}
      required {% endif %} />
  </div>
</div>

{% endmacro %}

{% macro render_input_checkbox(name='', id='', checked=False, required=False) %}
<div class="mb-3 row align-items-baseline">
  <div class="col-sm-2"></div>
  <div class="col-sm-10">
    <input class="form-check-input" type="checkbox" id="{{ id }}" name="{{ id }}" {% if checked %} checked {% endif %}>
    <label class="form-check-label" for="{{ id }}">{{ name }}</label>
  </div>
</div>

{% endmacro %}