{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

{% include 'header.html' %}
<section class="container p-2 pt-4">
  <h3>Add Booking</h3>
  <form method="POST">
    <h3>Booking</h3>
    <div class="input-group mb-3">
      <label class="input-group-text" for="CS">CS</label>
      <input class="form-control" type="text" name="CS" id="CS" required />
    </div>

    <div class="input-group mb-3">
      <label class="input-group-text" for="week">Week</label>
      <input class="form-control" type="number" name="week" id="week" required />
    </div>

    <div class="input-group mb-3">
      <label class="input-group-text" for="SO">SO</label>
      <input class="form-control" type="text" name="SO" id="SO" required />
    </div>

    <div class="input-group mb-3">
      <label class="input-group-text" for="size">Size</label>
      <input class="form-control" type="text" name="size" id="size" required />
    </div>

    <div class="input-group mb-3">
      <label class="input-group-text" for="Final_Destination">Final Destination</label>
      <input class="form-control" type="text" name="Final_Destination" id="Final_Destination" />
    </div>

    <div class="input-group mb-3">
      <label class="input-group-text" for="Contract_or_Coloader">Contract or Coloade</label>
      <input class="form-control" type="text" name="Contract_or_Coloader" id="Contract_or_Coloader" required />
    </div>

    <div class="input-group mb-3">
      <label class="input-group-text" for="cost">Cost</label>
      <input class="form-control" type="number" name="cost" id="cost" required />
    </div>

    <div class="input-group mb-3">
      <label class="input-group-text" for="Date_Valid">Date Valid</label>
      <input class="form-control" type="date" name="Date_Valid" id="Date_Valid" required />
    </div>

    {% if current_user.rank=='admin' %}
    <div class="mb-3">
      <a class="btn btn-danger" href="{{ url_for('admin.admin_dashboard') }}">Cancel</a>
      <input class="btn btn-primary" type="submit" value="Submit" />
    </div>
    {% else %}
    <div class="mb-3">
      <a class="btn btn-danger" href="{{ url_for('user.user_dashboard') }}">Cancel</a>
      <input class="btn btn-primary" type="submit" value="Submit" />
    </div>
    {% endif %}
  </form>
</section>

{% endblock %}