{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

{% include 'admin_header.html' %}
<section class="wrap">
  <h1>Add Shipping Data</h1>
  <form method="POST" class="table">

    <h3>Shipping Schedule</h3>
    <div class="table-row">
      <label class="table-cell" for="carrier">Carrier</label>
      <input class="table-cell" type="text" name="carrier" id="carrier" required />
    </div>

    <div class="table-row">
      <label class="table-cell" for="service">Service</label>
      <input class="table-cell" type="text" name="service" id="service" required />
    </div>

    <div class="table-row">
      <label class="table-cell" for="routing">Routing</label>
      <input class="table-cell" type="text" name="routing" id="routing" required />
    </div>

    <div class="table-row">
      <label class="table-cell" for="MV">MV</label>
      <input class="table-cell" type="text" name="MV" id="MV" required />
    </div>

    <div class="table-row">
      <label class="table-cell" for="POL">POL</label>
      <input class="table-cell" type="text" name="POL" id="POL" required />
    </div>

    <div class="table-row">
      <label class="table-cell" for="POD">POD</label>
      <input class="table-cell" type="text" name="POD" id="POD" required />
    </div>

    <div class="table-row">
      <label class="table-cell" for="CY_Open">CY Open</label>
      <input class="table-cell" type="date" name="CY_Open" id="CY_Open" required />
    </div>

    <div class="table-row">
      <label class="table-cell" for="SI_Cut_Off">SI Cut Off</label>
      <input class="table-cell" type="date" name="SI_Cut_Off" id="SI_Cut_Off" required />
      <input class="table-cell" type="time" name="SI_Cut_Off_Time" id="SI_Cut_Off_Time" required />
    </div>

    <div class="table-row">
      <label class="table-cell" for="CY_CY_CLS">CY CY CLS</label>
      <input class="table-cell" type="date" name="CY_CY_CLS" id="CY_CY_CLS" required />
      <input class="table-cell" type="time" name="CY_CY_CLS_Time" id="CY_CY_CLS_Time" required />
    </div>

    <div class="table-row">
      <label class="table-cell" for="ETD">ETD</label>
      <input class="table-cell" type="date" name="ETD" id="ETD" required />
    </div>

    <div class="table-row">
      <label class="table-cell" for="ETA">ETA</label>
      <input class="table-cell" type="date" name="ETA" id="ETA" required />
    </div>

    <h3>Booking</h3>
    <div class="table-row">
      <label class="table-cell" for="CS">CS</label>
      <input class="table-cell" type="text" name="CS" id="CS" required />
    </div>

    <div class="table-row">
      <label class="table-cell" for="week">Week</label>
      <input class="table-cell" type="number" name="week" id="week" required />
    </div>

    <div class="table-row">
      <label class="table-cell" for="SO">SO</label>
      <input class="table-cell" type="text" name="SO" id="SO" required />
    </div>

    <div class="table-row">
      <label class="table-cell" for="size">Size</label>
      <input class="table-cell" type="text" name="size" id="size" required />
    </div>

    <div class="table-row">
      <label class="table-cell" for="Final_Destination">Final Destination</label>
      <input class="table-cell" type="text" name="Final_Destination" id="Final_Destination" />
    </div>

    <div class="table-row">
      <label class="table-cell" for="Contract_or_Coloader">Contract or Coloade</label>
      <input class="table-cell" type="text" name="Contract_or_Coloader" id="Contract_or_Coloader" required />
    </div>

    <div class="table-row">
      <label class="table-cell" for="cost">Cost</label>
      <input class="table-cell" type="number" name="cost" id="cost" required />
    </div>

    <div class="table-row">
      <label class="table-cell" for="Date_Valid">Date Valid</label>
      <input class="table-cell" type="date" name="Date_Valid" id="Date_Valid" required />
    </div>

    <h3>Conform Order</h3>
    <div class="table-row">
      <label class="table-cell" for="shipper">Shipper</label>
      <input class="table-cell" type="text" name="shipper" id="shipper" required />
    </div>

    <div class="table-row">
      <label class="table-cell" for="consignee">Consignee</label>
      <input class="table-cell" type="text" name="consignee" id="consignee" required />
    </div>

    <div class="table-row">
      <label class="table-cell" for="term">Term</label>
      <input class="table-cell" type="text" name="term" id="term" required />
    </div>

    <div class="table-row">
      <label class="table-cell" for="salesman">Salesman</label>
      <input class="table-cell" type="text" name="salesman" id="salesman" required />
    </div>

    <div class="table-row">
      <label class="table-cell" for="SR">SR</label>
      <input class="table-cell" type="text" name="SR" id="SR" required />
    </div>

    <div class="table-row">
      <label class="table-cell" for="remark">remark</label>
      <input class="table-cell" type="text" name="remark" id="remark" />
    </div>
    <div class="form-buttons">
      <a class="button button-block" href="{{ url_for('admin.admin_dashboard') }}">Cancel</a>
      <input class="button button-block" type="submit" value="Submit" />
    </div>

  </form>
</section>

{% endblock %}