{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
  {% include 'admin_header.html' %}

  <!-- Search Form -->
  <section class="wrap-wide">
    <h3>Search Products</h3>
    <section class="section">
      <div class="columns">
        <div class="column">
          <input type="text" class="input" placeholder="Search" name="q" hx-get="{{ url_for('admin.search') }}" hx-trigger="keyup changed delay:500ms" hx-target="#results" />
        </div>
      </div>
      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th>ID</th>
            <th>Shipping data created</th>
            <th>CS</th>
            <th>Week</th>
            <th>Carrier</th>
            <th>Service</th>
            <th>MV</th>
            <th>SO</th>
            <th>Size</th>
            <th>POL</th>
            <th>POD</th>
            <th>Final Destination</th>
            <th>Routing</th>
            <th>CY Open</th>
            <th>SI Cut Off</th>
            <th>CY CY CLS</th>
            <th>ETD</th>
            <th>ETA</th>
            <th>Contract/Coloader</th>
            <th>Shipper</th>
            <th>Consignee</th>
            <th>Term</th>
            <th>Salesman</th>
            <th>Cost</th>
            <th>Rate Valid</th>
            <th>SR</th>
            <th>HB L</th>
            <th>Remark</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody id="results">
          <!-- Search results will be inserted here -->
        </tbody>
      </table>
    </section>
  </section>

  <!-- Display Shipping Data -->
  {% if user_data %}
    <section class="wrap-wide">
      <h3>Shipping Data</h3>
      <table class="full-width">
        <thead>
          <tr>
            <th>ID</th>
            <th>Shipping data created</th>
            <th>CS</th>
            <th>Week</th>
            <th>Carrier</th>
            <th>Service</th>
            <th>MV</th>
            <th>SO</th>
            <th>Size</th>
            <th>POL</th>
            <th>POD</th>
            <th>Final Destination</th>
            <th>Routing</th>
            <th>CY Open</th>
            <th>SI Cut Off</th>
            <th>CY CY CLS</th>
            <th>ETD</th>
            <th>ETA</th>
            <th>Contract/Coloader</th>
            <th>Shipper</th>
            <th>Consignee</th>
            <th>Term</th>
            <th>Salesman</th>
            <th>Cost</th>
            <th>Rate Valid</th>
            <th>SR</th>
            <th>HB L</th>
            <th>Remark</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for shipping in user_data %}
            <tr>
              <td>{{ shipping.id }}</td>
              <td>{{ shipping.date_created }}</td>
              <td>{{ shipping.CS }}</td>
              <td>{{ shipping.week }}</td>
              <td>{{ shipping.carrier }}</td>
              <td>{{ shipping.service }}</td>
              <td>{{ shipping.MV }}</td>
              <td>{{ shipping.SO }}</td>
              <td>{{ shipping.size }}</td>
              <td>{{ shipping.POL }}</td>
              <td>{{ shipping.POD }}</td>
              <td>{{ shipping.Final_Destination }}</td>
              <td>{{ shipping.routing }}</td>
              <td>{{ shipping.CY_Open }}</td>
              <td>{{ shipping.SI_Cut_Off }}</td>
              <td>{{ shipping.CY_CY_CLS }}</td>
              <td>{{ shipping.ETD }}</td>
              <td>{{ shipping.ETA }}</td>
              <td>{{ shipping.Contract_or_Coloader }}</td>
              <td>{{ shipping.shipper }}</td>
              <td>{{ shipping.consignee }}</td>
              <td>{{ shipping.term }}</td>
              <td>{{ shipping.salesman }}</td>
              <td>{{ shipping.cost }}</td>
              <td>{{ shipping.Rate_Valid }}</td>
              <td>{{ shipping.SR }}</td>
              <td>{{ shipping.HB_L }}</td>
              <td>{{ shipping.Remark }}</td>
              <td>
                <a class="button-block" href="{{ url_for('admin.edit_shipping_data', id=shipping.id) }}">Edit</a>
                <form action="{{ url_for('admin.delete_shipping_data', id=shipping.id) }}" method="POST">
                  <button class="button-block" type="submit" onclick="return confirm('Are you sure you want to delete this item?');">Delete</button>
                </form>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  {% else %}
    <section class="wrap">
      <p>No shipping data available.</p>
    </section>
  {% endif %}
{% endblock %}
