{% if current_user.role.rank == 'sales' %}
<div class="container p-4">
  <h3>Your Bookings</h3>
  <div class="border rounded">
    <div class="p-2">
      <div class="row g-2 mb-2">
        <div class="col-md-4">
          <label for="etd_start_booking" class="form-label">ETD Start Date</label>
          <input type="date" class="form-control" id="etd_start_booking" name="etd_start_booking" 
                 value="{% if etd_start %}{{ etd_start.strftime('%Y-%m-%d') }}{% endif %}"
                 onchange="applyBookingFilters()" />
        </div>
        <div class="col-md-4">
          <label for="etd_end_booking" class="form-label">ETD End Date</label>
          <input type="date" class="form-control" id="etd_end_booking" name="etd_end_booking" 
                 value="{% if etd_end %}{{ etd_end.strftime('%Y-%m-%d') }}{% endif %}"
                 onchange="applyBookingFilters()" />
        </div>
        <div class="col-md-4">
          <label for="void_booking_filter" class="form-label">Void</label>
          <select class="form-control" id="void_booking_filter" name="void" onchange="applyBookingFilters()">
            <option value="">All</option>
            <option value="yes" {% if request.args.get('void') == 'yes' %}selected{% endif %}>Yes</option>
            <option value="no" {% if request.args.get('void') == 'no' %}selected{% endif %}>No</option>
          </select>
        </div>
      </div>
      <input type="text" class="form-control" placeholder="Search..." name="q"
        hx-get="{{ url_for('search.search_sales_booking') }}" hx-trigger="keyup changed delay:500ms"
        hx-target="#results-booking" hx-indicator="#loading"
        hx-include="[name='etd_start_booking'], [name='etd_end_booking'], [name='void']" />
      <div id="loading" style="display: none;">Loading...</div>
    </div>
{% endif %}
{% if current_user.role.rank in ['admin', 'cs'] %}
<div class="container p-0">
  <div class="d-flex justify-content-between align-items-baseline gap-2 mt-4 mb-2">
    <h5 class="heading-bookings">Bookings</h5>
  </div>
  <div class="border rounded overflow-hidden mt-2 mb-2">
{% endif %}
    <table class="table align-middle m-0">
      <thead>
        {% if current_user.role.rank == 'admin' %}
        <th>ID</th>
        {% endif %}
        <th>SO</th>
        <th>Final Destination</th>
        <th>Contract/Coloader</th>
        <th>Shipper</th>
        <th>Consignee</th>
        <th>Term</th>
        <th>Sales</th>
        <th>Sale Price</th>
        <th>Void</th>
        <th>Remark</th>
        <th></th>
      </thead>
      <tbody id="results-booking">
        {% include 'booking_table_results.html' %}
      </tbody>
    </table>
  </div>
</div>