<section class="container p-4">
  <h3>Your Bookings</h3>
  <div class="border rounded">

    <div class="p-2">
      <input type="text" class="form-control" placeholder="Search..." name="q"
        hx-get="{{ url_for('search.search_sales_reserve') }}" hx-trigger="keyup changed delay:500ms"
        hx-target="#results-booking" hx-indicator="#loading" />
      <div id="loading" style="display: none;">Loading...</div>

    </div>
    <table class="table align-middle m-0">
      <thead>
        {% if current_user.role.rank == 'admin' %}
        <th>ID</th>
        {% endif %}

        <th>SO</th>
        <th>Final Destination</th>
        <th>Contract/Coloader</th>
        <th>Shipper</th>
        <th>Consignee</th>
        <th>Term</th>
        <th>Sales</th>
        <th>Sale Price</th>
        <th>Void</th>
        <th>Remark</th>
        <th></th>
      </thead>
      <tbody id="results-booking">
        {% include 'booking_table_results.html' %}
      </tbody>
    </table>
  </div>
</section>