{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
  <h1>Edit Shipping Data</h1>
  <form method="POST">
    <label for="CS">CS</label>
    <input type="text" name="CS" id="CS" value="{{ shipping_data.CS }}" required />

    <label for="week">Week</label>
    <input type="number" name="week" id="week" value="{{ shipping_data.week }}" required />

    <label for="carrier">Carrier</label>
    <input type="text" name="carrier" id="carrier" value="{{ shipping_data.carrier }}" required />

    <label for="service">Service</label>
    <input type="text" name="service" id="service" value="{{ shipping_data.service }}" required />

    <label for="MV">MV</label>
    <input type="text" name="MV" id="MV" value="{{ shipping_data.MV }}" required />

    <label for="SO">SO</label>
    <input type="text" name="SO" id="SO" value="{{ shipping_data.SO }}" required />

    <label for="size">Size</label>
    <input type="text" name="size" id="size" value="{{ shipping_data.size }}" required />

    <label for="POL">POL</label>
    <input type="text" name="POL" id="POL" value="{{ shipping_data.POL }}" required />

    <label for="POD">POD</label>
    <input type="text" name="POD" id="POD" value="{{ shipping_data.POD }}" required />

    <label for="Final_Destination">Final Destination</label>
    <input type="text" name="Final_Destination" id="Final_Destination" value="{{ shipping_data.Final_Destination }}" required />

    <label for="routing">Routing</label>
    <input type="text" name="routing" id="routing" value="{{ shipping_data.routing }}" required />

    <label for="CY_Open">CY Open</label>
    <input type="text" name="CY_Open" id="CY_Open" value="{{ shipping_data.CY_Open }}" required />

    <label for="SI_Cut_Off">SI Cut Off</label>
    <input type="text" name="SI_Cut_Off" id="SI_Cut_Off" value="{{ shipping_data.SI_Cut_Off }}" required />

    <label for="CY_CV_CLS">CY CV CLS</label>
    <input type="text" name="CY_CV_CLS" id="CY_CV_CLS" value="{{ shipping_data.CY_CV_CLS }}" required />

    <label for="ETD">ETD</label>
    <input type="text" name="ETD" id="ETD" value="{{ shipping_data.ETD }}" required />

    <label for="ETA">ETA</label>
    <input type="text" name="ETA" id="ETA" value="{{ shipping_data.ETA }}" required />

    <label for="Contract_or_Coloader">Contract or Coloade</label>
    <input type="text" name="Contract_or_Coloader" id="Contract_or_Coloader" value="{{ shipping_data.Contract_or_Coloader }}" required />

    <label for="shipper">Shipper</label>
    <input type="text" name="shipper" id="shipper" value="{{ shipping_data.shipper }}" required />

    <label for="consignee">Consignee</label>
    <input type="text" name="consignee" id="consignee" value="{{ shipping_data.consignee }}" required />

    <label for="term">Term</label>
    <input type="text" name="term" id="term" value="{{ shipping_data.term }}" required />

    <label for="salesman">Salesman</label>
    <input type="text" name="salesman" id="salesman" value="{{ shipping_data.salesman }}" required />

    <label for="cost">Cost</label>
    <input type="number" name="cost" id="cost" value="{{ shipping_data.cost }}" required />

    <label for="ATE_Valid">ATE Valid</label>
    <input type="text" name="ATE_Valid" id="ATE_Valid" value="{{ shipping_data.ATE_Valid }}" required />

    <label for="SR">SR</label>
    <input type="text" name="SR" id="SR" value="{{ shipping_data.SR }}" required />

    <label for="HB_L">HB L</label>
    <input type="text" name="HB_L" id="HB_L" value="{{ shipping_data.HB_L }}" required />

    <label for="Remark">Remark</label>
    <input type="text" name="Remark" id="Remark" value="{{ shipping_data.Remark }}" required />

    <input type="submit" value="Update" />
  </form>
{% endblock %}
