{% if current_user.rank=='admin' %}
<header class="admin">
  <div id="menu-bar" class="container p-4">
    <h1>Admin Dashboard</h1>
  </div>
  <div class="container p-2">
    <nav id="menu-bar-nav">
      <a href="{{ url_for('admin.admin_dashboard') }}">Home</a>
      <a href="{{ url_for('admin.add_shipping_data') }}">Add Shipping Schedule</a>
      <a href="{{ url_for('b_login.logout') }}">Logout</a>
    </nav>
  </div>
</header>
{% else %}
<header>
  <div id="menu-bar" class="container p-4">
    <h1>User Dashboard</h1>
  </div>
  <div class="container p-2">
    <nav id="menu-bar-nav">
      <a href="{{ url_for('user.user_dashboard') }}">Home</a>
      <a href="{{ url_for('user.add_shipping_data') }}">Add Shipping Schedule</a>
      <a href="{{ url_for('b_login.logout') }}">Logout</a>
    </nav>
  </div>
</header>
{% endif %}