{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
{% include 'header.html' %}

{% include 'flash.html' %}

<!-- Display Shipping Data -->
{% if current_user.rank in ["admin", "cs"] %}
{% include 'schedule_table.html' %}
{% else %}
{% include 'reserve_table.html' %}
{% endif %}

<script>
  const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
  const tooltipList = [...tooltipTriggerList].map((tooltipTriggerEl) => new bootstrap.Tooltip(tooltipTriggerEl))
</script>
{% endblock %}