{% extends 'base.html' %}
{% from '_render_field.html' import render_field %}

{% block head %}

{% endblock %}

{% block body %}

<header>
  <div id="menu-bar" class="wrap">
    <h1>User Login</h1>
  </div>
</header>

<section class="wrap">
  <form method="POST" action="{{ url_for('b_login.login') }}">
    {{ login_detail.csrf_token }}

    {{ render_field(login_detail.request_username) }}
    
    {{ render_field(login_detail.request_password) }}
    
    {{ login_detail.remember_me(class_="table-cell") }} {{ login_detail.remember_me.label }}

    <div class="form-buttons">
      <input class="button button-block" type="submit" value="Submit" />
    </div>
  </form>
</section>
{% endblock %}