{% extends 'base.html' %}
{% from '_render_field.html' import render_field %}

{% block head %}

{% endblock %}

{% block body %}

<header>
  <div id="menu-bar" class="container p-4">
    <h1>User Login</h1>
  </div>
</header>

<section class="container p-4">

  {% include 'flash.html' %}

  <form method="POST" action="{{ url_for('user.user_login') }}">
    {{ login_detail.csrf_token }}

    {{ render_field(login_detail.request_username) }}

    {{ render_field(login_detail.request_password) }}

    <div class="mb-3 row">
      <div class="col-sm-2"></div>
      <div class="col-sm-10">
        <div>{{ login_detail.remember_me(class_="form-check-input mb-4") }} {{ login_detail.remember_me.label }}</div>
        <div><input class="btn btn-primary" type="submit" value="Login" /></div>
      </div>
    </div>

  </form>
</section>
{% endblock %}