{% if current_user.role.rank == 'sales' %}
<div class="container p-4">
  <h3>Your Reserves</h3>
  <div class="border rounded">
    <div class="p-2">
      <div class="row g-2 mb-2">
        <div class="col-md-4">
          <label for="etd_start_reserve" class="form-label">ETD Start Date</label>
          <input type="date" class="form-control" id="etd_start_reserve" name="etd_start_reserve" 
                 value="{% if etd_start %}{{ etd_start.strftime('%Y-%m-%d') }}{% endif %}"
                 onchange="applyReserveFilters()" />
        </div>
        <div class="col-md-4">
          <label for="etd_end_reserve" class="form-label">ETD End Date</label>
          <input type="date" class="form-control" id="etd_end_reserve" name="etd_end_reserve" 
                 value="{% if etd_end %}{{ etd_end.strftime('%Y-%m-%d') }}{% endif %}"
                 onchange="applyReserveFilters()" />
        </div>
      </div>
      <input type="text" class="form-control" placeholder="Search..." name="q"
        hx-get="{{ url_for('search.search_sales_reserve') }}" hx-trigger="keyup changed delay:500ms"
        hx-target="#results-reserve" hx-indicator="#loading"
        hx-include="[name='etd_start_reserve'], [name='etd_end_reserve']" />
      <div id="loading" style="display: none;">Loading...</div>
    </div>
{% endif %}
{% if current_user.role.rank in ['admin', 'cs'] %}
<div class="container p-0">
  <div class="d-flex justify-content-between align-items-baseline gap-2 mt-4 mb-2">
    <h5 class="heading-reserves">Reserves</h5>
  </div>
  <div class="border rounded overflow-hidden mt-2 mb-2">
{% endif %}
    <table class="table align-middle m-0">
      <thead>
        {% if current_user.role.rank == 'admin' %}
        <th>ID</th>
        {% endif %}
        {% if current_user.role.rank == 'sales' %}
        <th>Service</th>
        <th>Vessel Name</th>
        <th>Voyage</th>
        <th>POL</th>
        <th>POD</th>
        <th>ETD</th>
        {% endif %}
        {% if current_user.role.rank != 'sales' %}
        <th>Sales</th>
        {% endif %}
        <th>Sale Price</th>
        <th>Reserve Date</th>
        <th>Confirm Date</th>
        <th>Confirmed By</th>
        <th>Void</th>
        <th>Remark</th>
        <th></th>
      </thead>
      <tbody id="results-reserve">
        {% include 'reserve_table_results.html' %}
      </tbody>
    </table>
  </div>
</div>