<section class="container p-4">
  <h3>Shipping Schedules</h3>
  <div class="border rounded">
    
    <div class="p-2">
      <input type="text" class="form-control" placeholder="Search..." name="q" hx-get="{{ url_for('search.search_all') }}" hx-trigger="keyup changed delay:500ms" hx-target="#results" hx-indicator="#loading" />
      <div id="loading" style="display: none;">Loading...</div>

    </div>
    <table class="table align-middle m-0">
      <thead class="table-light">
        <tr>
          {% if current_user.role.rank == 'admin' %}
            <th>ID</th>
          {% endif %}

          <th>Carrier</th>
          <th>Service</th>
          <th>Routing</th>
          <th>MV</th>
          <th>POL</th>
          <th>POD</th>
          <th>CY Open</th>
          <th>SI Cut Off</th>
          <th>CY CY CLS</th>
          <th>ETD</th>
          <th>ETA</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="results">
        {% include 'schedule_table_results.html' %}
      </tbody>
    </table>
  </div>
</section>
