<section class="container p-2">
  <h3>Shipping Schedule</h3>
  <div class="overflow-x-scroll">
    <table class="table table-striped align-middle">
      <thead>
        <tr>
          {% if current_user.rank=='admin' %}
          <th>ID</th>
          <th>Date/Time Created</th>
          {% endif %}

          <th>Carrier</th>
          <th>Service</th>
          <th>Routing</th>
          <th>MV</th>
          <th>POL</th>
          <th>POD</th>
          <th>CY Open</th>
          <th>SI Cut Off</th>
          <th>CY CY CLS</th>
          <th>ETD</th>
          <th>ETA</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody id="results">
        {% include 'shipping_table_results.html' %}
      </tbody>
    </table>
  </div>
</section>