{% extends 'base.html' %}
{% from '_render_input.html' import render_input_text, render_input_number, render_input_date, render_input_checkbox %}

{% block head %}
<title>Reserve Space</title>
{% endblock %}

{% block body %}
{% with title="Reserve Space" %}
{% include 'header.html' %}
{% endwith %}

<div class="mt-4">{% include 'flash.html' %}</div>
<section class="container p-4">
  <h3>Space Details</h3>

  <table class="table align-middle m-0">
    <thead>
      {% if current_user.role.rank == 'admin' %}
      <th>ID</th>
      {% endif %}
      <th>POL</th>
      <th>POD</th>
      <th>ETD</th>
      <th>Size</th>
      <th>Avg. Rate</th>
      <th>Sug. Rate</th>
      <th>Rate Valid</th>
      <th>Proport</th>
      {% if current_user.role.rank == 'admin' %}
      <th>Status</th>
      <th>Last Modified</th>
      <th>By</th>
      {% endif %}
    </thead>
    <tbody id="results-reserve">
      <tr>
        {% if current_user.role.rank == 'admin' %}
        <td>{{ space.spc_id }}</td>
        {% endif %}
        <td>{{ schedule.pol }}</td>
        <td>{{ schedule.pod }}</td>
        <td>{{ schedule.etd.strftime('%Y-%m-%d') }}</td>
        <td>{{ space.size }}</td>
        <td>{{ space.avgrate }}</td>
        <td>{{ space.sugrate }}</td>
        <td>{{ space.ratevalid.strftime('%Y-%m-%d %H:%M') }}</td>
        <td>{{ space.proport_yesno() }}</td>
        {% if current_user.role.rank == 'admin' %}
        <td>{{ space.spcstatus }}</td>
        <td>{{ space.last_modified_at.strftime('%Y-%m-%d %H:%M') }}</td>
        <td>{{ space.last_modified_by }}</td>
        {% endif %}
      </tr>
    </tbody>
  </table>
</section>
<section class="container p-4">
  <h3>Reserve Details</h3>

  <form method="POST" class="mt-4">
    {{ render_input_number(name='Sale Price', id='saleprice', required=True) }}

    <div class="d-inline-flex gap-2 mt-3">
      <a class="btn btn-danger" href="javascript:history.back()">Cancel</a>
      <input class="btn btn-primary" type="submit" value="Reserve Space" />
    </div>
  </form>
</section>
{% endblock %}