{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
{% include 'user_header.html' %}

<!-- Search Form -->
<section class="wrap-wide">
  <h3>Search</h3>
  <form hx-get="{{ url_for('user.search') }}" hx-trigger="input change delay:500ms" hx-target="#results">
    <input type="text" class="input" placeholder="Search" name="q" />
    <input name="show-all" type="checkbox" />
    <label for="show-all">Show All</label>
  </form>
</section>

<!-- Display Shipping Data -->
{% include 'user_shipping_table.html' %}
{% endblock %}